<div class="row">

<h3> Dashboard </h3>
<p> Resumo das suas ultimas atualizaçoes</p>
<hr>
<div class="col-md-6">

  <h4>últimos Produtos Cadastrados </h4>

 <table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Forma</th>
      <th>Preço de Venda</th>
      <th>Quantidade</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
      <% if current_user.id == product.user.id %>
        <td><%= link_to product.name, product %></td>
        <td><%= product.forma %></td>
        <td><%= number_to_currency( product.valuev, precision: 2) %></td>
        <td><%= product.quantity %></td>

      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<p> <%= link_to 'Mais produtos', products_path , class: "menu_link " %> </p>

</div>

<div class="col-md-6">

  <h4>últimas Vendas Cadastradas </h4>

  <table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Data da Venda</th>
      <th>Cliente</th>
      <th>Valor $</th>

    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
      <% if current_user.id == order.user.id %>
        <td><%= link_to order.sale_date.strftime("%d/%m/%Y"), order %></td>
        <td><%= order.customer.name %></td>
        <td><%= number_to_currency(order.total_price, precision: 2) %></td>
       <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<p> <%= link_to 'Mais Notas', orders_path , class: "menu_link " %> </p>

</div>

  </div>
<div class="row">
<div class="col-md-6">

 <h4>últimos Clientes Cadastrados </h4>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Celular</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
      <% if current_user.id == customer.user.id %>
        <td><%= link_to customer.name, customer %></td>
        <td><%= customer.email %></td>
        <td><%= number_to_phone(customer.telefone_2) %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<p> <%= link_to 'Mais clientes', customers_path , class: "menu_link " %></p>


</div>

<div class="col-md-6"> </div>


</div>



