<div class="row">

<h3> Dashboard </h3>
<p> Resumo das suas ultimas atualizaçoes</p>
<hr>
<div class="col-md-6">

  <h4>últimos Produtos Cadastrados </h4>

 <table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Preço $</th>
      <th>Peso</th>
      <th>Valor /ct $</th>
      <th>Quantidade</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
      <% if current_user.id == product.user.id %>
        <td><%= link_to product.name, product %></td>
        <td><%= number_to_currency( product.price , precision: 2) %></td>
        <td><%= product.weight %></td>
        <td><%= number_to_currency( product.value_carat, precision: 2) %></td>
        <td><%= product.quantity %></td>

      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<p> <%= link_to 'Mais produtos', products_path , class: "menu_link " %> </p>

</div>

<div class="col-md-6">

  <h4>últimas Vendas Cadastradas </h4>

  <table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Data da Venda</th>
      <th>Valor</th>

    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
      <% if current_user.id == sale.user.id %>
        <td><%= link_to sale.date_sale.strftime("%d/%m/%Y"), sale %></td>
        <td><%= number_to_currency( sale.amount, precision: 2) %></td>

       <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<p> <%= link_to 'Mais vendas', sales_path , class: "menu_link " %> </p>

</div>

  </div>
<div class="row">
<div class="col-md-6">

 <h4>últimos Clientes Cadastrados </h4>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Celular</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
      <% if current_user.id == customer.user.id %>
        <td><%= link_to customer.name, customer %></td>
        <td><%= customer.email %></td>
        <td><%= number_to_phone(customer.telefone_2) %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<p> <%= link_to 'Mais clientes', customers_path , class: "menu_link " %></p>


</div>

<div class="col-md-6"> </div>


</div>



