<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" >
    <%= f.label :nome %>
    <%= f.text_field :name, class: "form-control" , placeholder: "Nome completo do Cliente " %>
  </div>
  <div class="form-group" >
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control"  , placeholder: "Cadastrar como o exemplo gemascontrol@gemascontrol.com.br"  %>
  </div>
  <div class="form-group" >
    <%= f.label :endereço %>
    <%= f.text_field :endereco, class: "form-control"  , placeholder: "Cadastrar como o exemplo Rua Teste 120" %>
  </div>
  <div class="form-group" >
    <%= f.label :cidade %>
    <%= f.text_field :cidade , class: "form-control" , placeholder: "Cadastrar como o exemplo Rio de Janeiro" %>
  </div>
  <div class="form-group" >
    <%= f.label :estado %>
    <%= f.text_field :estado, class: "form-control" , placeholder: "Cadastrar como o exemplo Rio de Janeiro" %>
  </div>
  <div class="form-group" >
    <%= f.label :telefone %>
    <%= f.text_field :telefone_1 , class: "form-control" , placeholder: "Cadastrar como o exemplo 2199999999" %>
  </div>
  <div class="form-group" >
    <%= f.label :celular %>
    <%= f.text_field :telefone_2, class: "form-control" , placeholder: "Cadastrar como o exemplo 2199999999" %>
  </div>

  <div class="actions">
    <%= f.submit  "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>
