<p id="notice"><%= notice %></p>

<h1>Clientes</h1>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Celular</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
      <% if current_user.id == customer.user.id %>
        <td><%= customer.name %></td>
        <td><%= customer.email %></td>
        <td><%= customer.telefone_1 %></td>
        <td><%= customer.telefone_2 %></td>
        <td><%= link_to 'Show', customer , class: "btn btn-default btn-xs" %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) , class: "btn btn-default btn-xs" %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-default btn-xs"%></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path , class: "btn btn-default btn-sm" %>
