<h3><%= @customer.name %></h3>
<p> <b>E-mail:</b> <%= @customer.email %> </p>
<p> <b>Endereço:</b> <%= @customer.endereco %> </p>
<p> <b>CEP:</b> <%= @customer.cep %> </p>
<p> <b>Cidade:</b> <%= @customer.cidade %> </p>
<p> <b>Estado:</b> <%= @customer.estado %> </p>
