<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @customer.endereco %>
</p>

<p>
  <strong>CEP:</strong>
  <%= number_to_cep(@customer.cep) %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @customer.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @customer.estado %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= number_to_phone(@customer.telefone_1)  %>
</p>

<p>
  <strong>Celular:</strong>
<%= number_to_phone(@customer.telefone_2)  %>
</p>

<%= link_to 'Exportar para Word',  customer_path(:format => :docx) %> |


<!-- <p id="pdf_link"><%= link_to "Gerar Etiqueta (PDF)", customer_path(@customer, :format => "pdf") %></p> -->


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
