<p id="notice"><%= notice %></p>

<h1>Dados da Empresa</h1>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Nome</th>
      <th>E-mail</th>
      <th>Endereço</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th>Telefone</th>
      <th>Celular</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
      <% if current_user.id == company.user.id %>
        <td><%= company.name %></td>
        <td><%= company.email %></td>
        <td><%= company.endereco %></td>
        <td><%= company.cidade %></td>
        <td><%= company.estado %></td>
        <td><%= company.telefone_1 %></td>
        <td><%= company.telefone_2 %></td>
        <td><%= link_to 'Exibir', company , class: "btn btn-default btn-xs"%></td>
        <td><%= link_to 'Editar', edit_company_path(company) , class: "btn btn-default btn-xs" %></td>
        <td><%= link_to 'Deletar', company, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-default btn-xs" %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Empresa', new_company_path , class: "btn btn-default btn-sm" %>
