<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company.email %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @company.endereco %>
</p>

<p>
  <strong>CEP:</strong>
  <%= number_to_cep(@company.cep) %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @company.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @company.estado %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= number_to_phone(@company.telefone_1) %>
</p>

<p>
  <strong>Celular:</strong>
  <%= number_to_phone(@company.telefone_2) %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
