<div class="cart_title">

<h1>Sua Nota de Venda</h1>
<hr>
</div>

<table class="table table-hover table-condensed">
<thead>
    <tr>
      <th>Nome</th>
      <th>Preço de Venda</th>
      <th>Quantidade</th>
      <th>Peso ct</th>
      <th> </th>
    </tr>
  </thead>

<tbody>
<% for item in @cart.line_items %>
<tr>
<td><b><%= item.product.name %></b></td>
<td class="item_price"> <em><%= number_to_currency(item.total_price) %></em></td>

     <%= form_for :item, :url => line_items_upgrade_path(id: item.id) do |f| %>
        <td>   <%= f.number_field :quantity, :value => item.quantity %> </td>
        <td>   <%= f.text_field :weight, :value => item.weight %></td>
        <td>   <%= submit_tag "Atualizar" %> </td>
      <% end %>


</tr>
<% end %>
<tr class="total_line">
<td colspan="2"> <h4><b>Total</b></h4> </td>
<td class="total_cell"><h5><%= number_to_currency(@cart.total_price) %> </h5></td>
<td></td>
</tr>
</tbody>
</table>

<br>
<%= link_to 'Continuar incluindo itens na nota', store_index_path , class: "btn btn-primary btn-m"%>
<%= link_to "Criar Nota", new_order_url, :method=>:get, class: "btn btn-success btn-m" %>
<%= link_to 'Limpar Nota', @cart, :method => :delete,:confirm => 'Are you sure?', class: "btn btn-danger btn-m" %>


