<p id="notice"><%= notice %></p>

<h1>Produtos</h1>

<h3>:: Total de produtos cadastrados: <%= @totalproducts %> </h3>

<h3>:: Total preço de custo: <%= number_to_currency(@totalcusto, precision: 2) %> </h3>

<h3>:: Total preço de venda: <%= number_to_currency(@totalprecovenda, precision: 2) %> </h3>

<h3>:: Total preço por ct: <%= number_to_currency(@totalvalorct, precision: 2) %> </h3>


<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Forma</th>
      <th>Tamanho</th>
      <th>Preço de Venda</th>
      <th>Preço de Custo</th>
      <th>Preço por ct</th>
      <th>Peso ct</th>
      <th>Qtd em estoque</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
      <% if current_user.id == product.user.id %>
        <td><%= product.name %></td>
        <td><%= product.forma %></td>
        <td><%= number_with_precision(product.tamanho , precision: 3) %></td>
        <td><%= number_to_currency(product.valuev, precision: 2)  %></td>
        <td><%= number_to_currency(product.price, precision: 2)  %></td>
        <td><%= number_to_currency(product.value_carat, precision: 2)   %></td>
        <td><%= number_with_precision(product.weight, :precision => 2) %></td>
        <td><%= product.quantity %></td>
        <td><%= link_to 'Show', product , class: "btn btn-default btn-xs"%></td>
        <td><%= link_to 'Edit', edit_product_path(product) , class: "btn btn-default btn-xs"%></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-default btn-xs"%></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Produto', new_product_path, class: "btn btn-default btn-sm" %>
