<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Preço $:</strong>
  <%= number_to_currency(@product.price , precision: 2) %>
</p>

<p>
  <strong>Peso ct:</strong>
  <%= number_with_precision(@product.weight, :precision => 2) %>
</p>

<p>
  <strong>Valor por ct:</strong>
  <%= number_to_currency(@product.value_carat , precision: 2) %>
</p>

<p>
  <strong>Quantidade em estoque:</strong>
  <%= @product.quantity %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
