<%= form_for(@sale) do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :data_da_venda %><br>
    <%= f.date_select :date_sale, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :valor %>
    <%= f.text_field :amount, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :quantidade_de_itens %>
    <%= f.text_field :qtd_itens, class: "form-control" %>
  </div>

   <div class="form-group">
   <%= f.label :produtos %><br>
   <%= f.collection_check_boxes(:product_ids, Product.where(:user_id => current_user.id), :id, :name) do |b| %>
        <%= b.label class:"label-checkbox" do %>
         <%= b.check_box + "  " +  b.text + "  " %>
        <%end%>
    <% end %>
  </div>


  <div class="form-group">
    <%= f.label :cliente %><br>
    <%= collection_select(:sale, :customer_id, Customer.where(:user_id => current_user.id) , :id, :name) %>
  </div>

  <div class="actions">
    <%= f.submit "Salvar", class: "btn btn-primary"%>
  </div>
<% end %>
