<p id="notice"><%= notice %></p>

<h1>Vendas</h1>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Data da Venda</th>
      <th>Valor</th>
      <th>Quantidade de itens</th>
      <th>Produtos</th>
      <th>Cliente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
      <% if current_user.id == sale.user.id %>
        <td><%= sale.date_sale.strftime("%d/%m/%Y") %></td>
        <td><%= number_to_currency(sale.amount, precision: 2) %></td>
        <td><%= sale.qtd_itens %></td>
        <td><%= sale.products.map { |c| c.name}.join(' | ') %> </td>
        <td><%= sale.customer.name %></td>
        <td><%= link_to 'Show', sale , class: "btn btn-default btn-xs" %></td>
        <td><%= link_to 'Edit', edit_sale_path(sale), class: "btn btn-default btn-xs" %></td>
        <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-default btn-xs" %></td>
       <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Venda', new_sale_path , class: "btn btn-default btn-sm" %>
