<p id="notice"><%= notice %></p>

<p>
  <strong>Data da Venda:</strong>
  <%= @sale.date_sale.strftime("%d/%m/%Y")  %>
</p>

<p>
  <strong>Valor:</strong>
  <%=  number_to_currency(@sale.amount , precision: 2) %>
</p>

<p>
  <strong>Quantidade de itens:</strong>
  <%= @sale.qtd_itens %>
</p>

<p>
  <strong>Products:</strong>
  <%= @sale.products.map { |c| c.name}.join(' | ') %>

</p>

<p>
  <strong>Cliente:</strong>
  <%= @sale.customer.name %>
</p>


<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
