
<div class="menu_lateral">

<h4> :: Menu :: </h4>
 <br>
<% if user_signed_in? %>
  <%= link_to 'Dashboard', home_dashboard_path %> <br>
  <%= link_to 'Dados da Empresa', companies_path , class: "menu_link" %> <br>
  <hr>
  <p> :: Consultas :: </p>
  <%= link_to 'Consultar Clientes', customers_path , class: "menu_link " %> <br>
  <%= link_to 'Consultar Produtos', products_path , class: "menu_link " %> <br>
  <%= link_to 'Consultar Vendas', sales_path , class: "menu_link " %> <br>

  <br>
  <p> :: Cadastros :: </p>
  <%= link_to 'Cadastrar Cliente', new_customer_path , class: "menu_link " %> <br>
  <%= link_to 'Cadastrar Produto', new_product_path , class: "menu_link " %> <br>
  <%= link_to 'Cadastrar Venda', new_sale_path , class: "menu_link " %> <br>
  <hr>
  <%= link_to 'Editar Preferências', edit_user_registration_path , class: "menu_link " %> <br>

<% end %>

</div>
