<!DOCTYPE html>
<html>
<head>
  <title>Controlgemas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>

<%= render 'layouts/header' %>

<% if user_signed_in? %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 col-md-3">
      <%= render 'layouts/menu' %>
      </div>
      <div class="col-xs-12 col-md-9">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>

          <%= yield %>
      </div>
    </div>
  </div>
<% else %>

<div><%= yield %></div>

 <% end %>

<div class="footer">
<hr> <p> Desenvolvidor por <%= link_to 'BreadBox' , 'http://www.breadbox.com.br' %> </p>
</div>


</body>
</html>
